.housing-section{
    height: 350px;
    background: url(/public/images/housing-bg.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.estate-project{
    background-color: #F2F2F2;
    
}
.some-of-our{
    align-items: flex-start;  
    padding: 50px; 
}
/* .some-of-our-text{
    float: left;
} */

.image-container{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 40px;
}


.row-containers{
    margin-bottom: 20px;
}
